numpy
pandas
scipy
scikit-learn
geopandas
matplotlib
seaborn
pdfplumber
numpy>=1.24
pandas>=2.0
scipy>=1.10
censusdata
scikit-learn>=1.3

geopandas>=0.14

matplotlib>=3.7
seaborn>=0.13

pdfplumber>=0.10
